<div class="pull-right">
  <%= render 'layouts/user_info' %> 
</div> 

<div class="pull-left">
  <%= render 'layouts/feed_projects' %>
  <% if @user == current_user %>
    <%= link_to (new_project_path), :class => 'btn btn-primary' do %>
      ADD PROJECT
    <% end %>
  <% end %>
</div>
