<h2>About page</h2>
<span class="muted">
  This is the simple application for manage some tasks. <br>
  Create projects and manage them by stories. 
</span>
<%= image_tag('demo.png', :border => 0, :class => "pull-right") %>

