body {
        padding-top: 60px;
        padding-bottom: 40px;
      }

.welcome_message {
        font-size: 11px; 
        text-align: right; 
        line-height: 1; 
        color: #aaaaaa;
        margin-right: 7px;
}
