<footer>
 <div class="container">
   <hr>
   <div id ="footer_content"> 
      <%= link_to "About", about_path %> | 
      <%= link_to "Contact", contact_path %>
   </div>                               
 </div>
</footer>
